<div class="container">
  <div class="list-subtitle"><strong> {{ pagehtml }} </strong></div>

  {% for video in data.videos %}
  <div class="list-video">
    <div class="list-video-number">{{ video.rank }}</div>
    <div class="list-video-votes">
      <div id="votes">{{ video.vote_tally }}</div>
    </div>
    <div class="list-video-body">
      <a href="/video/{{ video.id }}" class="list-video-title">{{ video.title }}</a>
      <p class="list-video-date">submitted at {{ video.created_at }}</p>
      <div class="list-video-views">
        <span>{{ video.view_tally }}</span>
      </div>
    </div>
  </div>
  {% endfor %}

</div>