<div class="container">
  <div><strong> {{ pagehtml }} </strong></div>

  <div class="view-video" id="video" data-video-id="{{ data.video.id }}" data-video-url="{{ data.video.url }}">
    <div class="view-video-votes">
      <button class="vote button-up" id='upvote'>+</button>
      <div id="votes">{{ data.video.vote_tally }}</div>
      <button class="vote button-down" id='downvote'>-</button>
    </div>
    <div class="view-video-body">
      <a href="{{ data.video.url }}" class="view-video-title">{{ data.video.title }}</a>
      <p class="view-video-date">submitted at {{ data.video.created_at }}</p>
      <div class="view-video-views">
        <span>{{ data.video.view_tally }}</span>
      </div>
    </div>
  </div>

  <div id="video_window" class="video-window"></div>
</div>