<div class="container">
  <div><strong> {{ pagehtml }} </strong></div>

  <div>
    <span>{{ data.video.title }}</span>
    <span>{{ data.video.url }}</span>
    <span>{{ data.video.view_tally }}</span>
    <span>{{ data.video.vote_tally }}</span>
    <span>{{ data.video.created_at }}</span>
  </div>

</div>